* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  display: flex;
  align-items: start;
  min-height: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  gap: 1rem;
  padding-right: 0rem;
}
