* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  background-color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.bestseller_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 110vh;
  max-height: 110vh;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Mulish", sans-serif;
  background-color: #ffffff;
}
.bestseller_container_img {
  max-width: 100vw;
  max-height: 110vh;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.best_cont_img {
  width: 50vw;
  height: 110vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best_cont_img img {
  width: 50vw;
  height: 110vh;
}
.bestseller_container_img2 {
  max-width: 100vw;
  max-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: lighter;

  gap: 1rem;
  position: absolute;
}
.bst_cont_b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}
.bst_cont_b p {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}
.bst_cont_b p {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@media screen and (max-width: 800px) {
  .bestseller_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Mulish", sans-serif;
  }
  .bestseller_container_img {
    max-width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .best_cont_img {
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best_cont_img img {
    width: 50vw;
    height: 80vh;
  }
  .bestseller_container_img {
    max-width: 100vw;
    max-height: 110vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .bestseller_container_img2 {
    min-width: 100vw;
    max-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: lighter;
    gap: 1rem;
    position: relative;
    background-color: #ffffff;
    color: black;
    padding-bottom: 2rem;
  }
  .bst_cont_b {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    font-weight: lighter;
  }
  .bestseller_container_img2 h4 {
    font-weight: lighter;
  }
  .bst_cont_b p {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
  }
}
@media screen and (max-width: 500px) {
  .bestseller_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Mulish", sans-serif;
  }
  .bestseller_container_img {
    max-width: 100vw;
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .best_cont_img {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best_cont_img img {
    width: 50vw;
    height: 80vh;
  }
  .bestseller_container_img {
    max-width: 100vw;
    max-height: 110vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .bestseller_container_img2 {
    min-width: 100vw;
    max-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: lighter;
    gap: 1rem;
    position: relative;
    background-color: #ffffff;
    color: black;
  }
  .bestseller_container_img2 {
    font-size: 1rem;
  }
}
