* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  background-color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.cd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: #ffffff;
}

.cd-img {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}
.cd-img img {
  width: 100%;
  height: fit-content;
  height: auto;
}
.cd-image-hide {
  display: none;
}
.cd-content {
  width: 320px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  color: #333333;
  position: absolute;
}
.cd-content1 {
  width: 320px;
  height: fit-content;
  max-height: fit-content;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-align: center;
}
.cd-content1 h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.cd-content1 h6 {
  font-size: 0.9rem;
  width: 90px;
  max-width: 90px;
  line-height: 2rem;
}
.cd-content1 h4 {
  font-size: 0.9rem;
}

.cd-content h6 span {
  font-size: 2rem;
}
.cd-content1 h5 {
  height: 3px;
  width: 270px;
  background: #fed100;
  margin-bottom: 1rem;
}
.cd-content1 p {
  font-size: 0.7rem;
  width: 80%;
  font-weight: lighter;
}

.cd-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #4d152d;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .cd-image-hide {
    display: flex;
  }
  .cd-image-show {
    display: none;
  }
  .cd-content {
    width: 320px;
    aspect-ratio: 1/1;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    color: #333333;
    position: absolute;
  }
  .cd-content h3 {
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #4d152d;
    margin-top: 1rem;
  }
  .cd-content1 {
    width: 320px;
    height: fit-content;
    max-height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    text-align: center;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 400px) {
  .cd-content {
    width: 90%;
    aspect-ratio: 1/1;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    color: #333333;
    position: absolute;
  }
  .cd-content1 {
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    background-color: #ffffff;
    display: flex;
    aspect-ratio: 1/1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    text-align: center;
  }
  .cd-content h3 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #4d152d;
    margin-top: 1rem;
  }
  .cd-content1 h2 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .cd-content1 h6 {
    font-size: 0.9rem;
    width: 90px;
    max-width: 90%;
    line-height: 2rem;
  }
  .cd-content1 h4 {
    font-size: 0.9rem;
  }

  .cd-content h6 span {
    font-size: 2rem;
  }
  .cd-content1 h5 {
    height: 3px;
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    background: #fed100;
    margin-bottom: 1rem;
  }
  .cd-content1 p {
    font-size: 0.7rem;
    width: 80%;
    font-weight: lighter;
  }

  .cd-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #4d152d;
    margin-top: 1rem;
  }
}
