* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  background-color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.chicago-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
}
.chicago-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
}
.chicago-left {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}
.chicago-lu {
  width: 100%;
  aspect-ratio: 2/1;
  height: auto;
  overflow: hidden;
}
.chicago-left img {
  width: 100%;
  height: 100%;
  height: auto;
}
.chicago-lu img {
  height: 100%;
}
.chicago-hide {
  display: none;
}

.chicago-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  aspect-ratio: 1/1;
  gap: 1rem;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  position: absolute;
}
.chicago-content h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 0rem 2rem;
}
.chicago-content p {
  font-size: 0.7rem;
  font-weight: lighter;
  padding: 0rem 2rem;
}
.chicago-content h4 {
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  background-color: #4d152d;
  color: #ffffff;
}
.chicago-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.chicago-content div h5 {
  color: #4d152d;
  text-decoration: underline;
}
.chicago-content div img {
  width: 20px;
  height: auto;
}
@media screen and (max-width: 800px) {
  .chicago-left {
    display: none;
  }
  .chicago-hide {
    display: flex;
    width: 100%;
    height: fit-content;
  }
  .chicago-hide img {
    width: 100%;
    height: fit-content;
  }
  .chicago-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    aspect-ratio: 1/1;
    gap: 1rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    position: absolute;
  }
}
