* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sb-dia-container {
  max-width: 100vw;
  background-color: #ffffff;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
  padding-bottom: 5rem;
}
.sb-dia-container h2 {
  color: #3e3e3e;
  font-size: 2rem;
  font-weight: lighter;
  background-color: #ffffff;
}
.card-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.card-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.card1 {
  min-width: 60px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: black;
  position: relative;
}
.card1 img {
  max-height: 60px;
  max-width: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.2s;
}
.card1 img:hover {
  opacity: 0;
}
.card1 h3 {
  min-width: 70px;
  font-weight: lighter;
  position: absolute;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  bottom: 40%;
}
@media screen and (max-width: 800px) {
  .sb-dia-container {
    max-width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 0rem;
    text-align: center;
  }

  .sb-dia-container h2 {
    color: #3e3e3e;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }
  .card1 {
    min-width: 70px;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #ffffff;
    color: black;
    position: relative;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .card1 img {
    max-height: 65px;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.2s;
  }
  .card1 img:hover {
    opacity: 1;
  }
  .card1 h3 {
    min-width: 70px;
    font-weight: lighter;
    position: relative;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0%;
  }
}
