* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  background-color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.designR_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 120vh;
  max-height: 120vh;
  min-height: fit-content;
  position: relative;
  background-color: #ffffff;
}

.designR_img {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: fit-content;
  max-height: fit-content;
  min-height: fit-content;
  position: absolute;
}
.design-2 {
  display: none;
}
.designR_img img {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: auto;
}

.designR_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  position: absolute;
  color: #ffffff;
  margin-top: 15%;
}
.designR_content h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.designR_content p {
  font-size: 0.8rem;
  font-weight: lighter;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}
.dsr-c {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  color: #333333;
  text-align: center;
  gap: 2px;
}
.dsr-c h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  background-color: #ffffff;
  color: #333333;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin-bottom: 2px;
}
.dsr-h {
  display: none;
}
.dsr-d {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  color: #333333;

  gap: 2px;
}
.dsr-d h3 {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  background-color: #ffffff;
  color: #333333;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem;
}
.dsr-p {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: #ffffff;
}
.dsr-p h4 {
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}
.dsr-p p {
  width: 5px;
  max-width: 5px;
  min-width: 5px;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.rotate-k {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.rotate-p {
  transform: rotate(45deg);
  -webkit-transform: rotate(-135deg);
}
@media screen and (max-width: 1000px) {
  .designR_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    position: absolute;
    color: #ffffff;
    margin-top: 10%;
  }
  .designR_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: fit-content;
    position: relative;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 800px) {
  .designR_img {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    position: relative;
    display: none;
  }
  .design-2 {
    display: flex;
  }
  .designR_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    color: #333333;
    position: relative;
    top: 0%;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 60vh;
    max-height: 60vh;
    min-height: 60vh;
    margin-top: 0%;
  }
  .designR_content h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .designR_content p {
    font-size: 0.8rem;
    font-weight: lighter;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .designR_content h3 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .designR_content p {
    font-size: 0.8rem;
    font-weight: lighter;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
  }
  .dsr-c {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    color: #333333;
    text-align: center;
    gap: 0px;
  }
  .dsr-c h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    max-width: 250px;
    min-width: fit-content;
    background-color: #ffffff;
    color: #333333;
    font-size: 0.7rem;
    padding: 0.5rem;
    margin-bottom: 2px;
    border: 1px solid #333333;
  }
  .dsr-h {
    display: none;
  }
  .dsr-d {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    color: #333333;
    gap: 0;
  }
  .dsr-d h3 {
    width: 250px;
    max-width: 250px;
    min-width: fit-content;
    background-color: #ffffff;
    border: 1px solid #333333;
    color: #333333;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.5rem;
    border-top: none;
  }
  .dsr-p {
    width: 250px;
    max-width: 250px;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: #ffffff;
    border: 1px solid #333333;
  }
  .dsr-p h4 {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    border: none;
  }
  .dsr-p p {
    width: 5px;
    max-width: 5px;
    min-width: 5px;
    border: solid #333333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .rotate-k {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .rotate-p {
    transform: rotate(45deg);
    -webkit-transform: rotate(-135deg);
  }
}
