* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.discover_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 100vw;
  font-family: "Mulish", sans-serif;
  overflow: hidden;
  background-color: #ffffff;
  gap: 2rem;
  padding-bottom: 2rem;
}

.discover_cont1 {
  width: 100%;
  max-height: 80vh;
  height: auto;
  overflow: hidden;
}

.discover_cont1 img {
  width: 100%;
  display: block;
}

.discover_cont {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  margin-left: 10%;
  overflow: hidden;
}

.dis-cont1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #000000;
}
.dis-cont1 p {
  font-size: 0.7rem;
}
.dis-cont1 h2 {
  font-size: 1.5rem;
}
.dis-cont2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.7rem;
}
.dis-cont2 h3 {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  max-height: fit-content;
  font-size: 0.7rem;
  min-width: 200px;
  background-color: #ffffff;
  color: #000000;
}
.dis-cont2 h4 {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  max-height: fit-content;
  font-size: 0.7rem;
  min-width: 200px;
  background-color: #ffffff;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .discover_cont {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 0%;
    width: 100%;
    overflow: hidden;
  }
  .dis-cont1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    gap: 0.5rem;
    text-align: center;
  }
  .dis-cont1 p {
    font-size: 1.1rem;
  }
  .dis-cont1 h2 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .dis-cont2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.7rem;
  }
  .dis-cont2 h3 {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 0.7rem;
    min-width: 200px;
    background-color: #4d152d;
    color: #ffffff;
    width: 80%;
  }
  .dis-cont2-sp {
    display: flex;
    background-color: #ffffff;
    color: black;
    border: 1px solid #4d152d;
  }
}
@media screen and (max-width: 400px) {
  .dis-cont1 p {
    font-size: 0.9rem;
  }
  .dis-cont1 h2 {
    font-size: 1.2rem;
    font-weight: lighter;
  }
}
