* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  width: 100vw;
  background-color: #ffffff;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  background-color: #ffffff;
  padding-top: 2rem;
}

.drag-scroll3 {
  user-select: none;
  scrollbar-width: none;
  padding-right: 2rem;
}
@media screen and (min-width: 1100px) {
  .drag-scroll3 {
    user-select: none;
    scrollbar-width: none;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
  }
}

.drag-scroll::-webkit-scrollbar {
  display: none;
}

.dragging {
  cursor: grabbing !important;
}

/* Progress Bar */
.scroll-progress3 {
  width: 90%;
  height: 1px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.scroll-progress-inner3 {
  height: 100%;
  background: #3e3e3e;
  transition: width 0.15s linear;
}
@media screen and (max-width: 1100px) {
  .scroll-progress3 {
    display: flex;
    width: 95%;
    height: 1px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .scroll-progress-inner3 {
    height: 100%;
    background: #3e3e3e;
    transition: width 0.15s linear;
  }
}
