* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  background-color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.inspired-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-top: 2rem;
  background-color: #ffffff;
  color: #333333;
  padding-bottom: 2rem;
}
.inspired-container h2 {
  font-size: 1.7rem;
  font-weight: lighter;
  padding-bottom: 2rem;
}
.inspired-container p {
  font-size: 0.75rem;
  font-weight: lighter;
}
.inspired-follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.inspired-follow-cov {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin-left: -12px;
}
.inspired-follow-cov img {
  width: 30px;
  height: auto;
}
.inspired-follow h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.4rem 1rem;
  background-color: #4d152d;
  color: #ffffff;
  font-size: 0.7rem;
  border-radius: 20px;
  margin-left: -12px;
}
.inspired-slide-cont {
  width: 100%;
  height: fit-content;
}
.card-in {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  overflow: hidden;
}
.card-in img {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}
.inspired-hidden {
  display: none;
}
.inspired-block {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .inspired-slide-cont {
    display: none;
  }
  .inspired-block {
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #ebebeb;
    position: relative;
  }
  .inspired-container p {
    font-size: 0.75rem;
    font-weight: lighter;
    padding-bottom: 1.5rem;
  }
  .inspired-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: fit-content;
    min-width: fit-content;
    position: relative;
  }
  .inspired-phone {
    width: 63%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .inspired-phone img {
    width: 100%;
    height: fit-content;
    height: auto;
  }
  .ins-phone {
    position: absolute;
    width: 90%;
    max-width: 77.5%;
    margin-top: 60px;
  }

  .inspired-grid {
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    aspect-ratio: 2/1;
    position: absolute;
  }
  .ind-grid-card {
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .ind-grid-card img {
    width: 100%;
    height: auto;
  }
  .inspired-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .ins-phone {
    position: absolute;
    width: 90%;
    max-width: 77.5%;
    margin-top: 40px;
  }
  .inspired-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    margin-bottom: 30px;
  }
}
