* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.jewelry-container {
  max-width: 100vw;
  background-color: #ffffff;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
  padding-bottom: 2rem;
}
.jewelry-container h2 {
  color: #3e3e3e;
  font-size: 2rem;
  font-weight: lighter;
  background-color: #ffffff;
}
.card-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.card-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.card {
  min-width: 260px;
  max-height: 600px;
  overflow: hidden;
  background: lightgray;
  position: relative;
}
.card img {
  max-height: 100%;
  min-width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h3 {
  min-width: 280px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
}
@media screen and (max-width: 800px) {
  .jewelry-container {
    max-width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 0rem;
    text-align: center;
  }

  .jewelry-container h2 {
    color: #3e3e3e;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }
}
