* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.mono_container {
  min-width: 100vw;
  background-color: #ffffff;
  height: 110vh;
  min-height: 110vh;
  max-height: 110vh;
  padding-top: 2rem;
}
.card2 {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 500px;
  max-height: 500px;
  min-height: 500px;
}
.card2_img_cont {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 350px;
  max-height: 350px;
  min-height: 350px;
  position: relative;
}
.card2_img {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 350px;
  max-height: 350px;
  min-height: 350px;
  overflow: hidden;
  position: absolute;
}
.card2_img img {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 350px;
  max-height: 350px;
  min-height: 350px;
  transition: 0.3s;
}
.card2_content {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  gap: 1rem;
}
.card2_content h3 {
  font-size: 1rem;
}
.card2_content p {
  font-size: 0.8rem;
}
.card2_img img:hover {
  opacity: 0;
}
@media screen and (max-width: 800px) {
  .mono_container {
    min-width: 100vw;
    background-color: #ffffff;
    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
    padding-top: 0rem;
  }
  .card2 {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    height: 400px;
    max-height: 400px;
    min-height: 400px;
  }
  .card2_img_cont {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
  }
  .card2_img {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    overflow: hidden;
    position: absolute;
  }
  .card2_img img {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    transition: 0.3s;
  }
  .card2_content {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    gap: 1rem;
  }
  .card2_content h3 {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  .card2_content p {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  .card2_img img:hover {
    opacity: 0;
  }
}
