* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.5rem;
  background-color: #ffffff;
  color: black;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  position: fixed;
  z-index: 1000;
}
.navbar1 {
  width: 100%;
  height: 1.3rem;
  background-color: #4d152d;
  color: #ffffff;
  font-size: 0.8rem;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar1 img {
  height: 0.7rem;
  width: auto;
}
.navbar1-b {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 0.7rem;
}
.navbar12 span {
  text-decoration: underline;
}
.navbar11 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar13 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5rem;
}
.navbar21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.navbar211 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.navbar211 img {
  height: 0.8rem;
  width: auto;
}
.navbar211 p {
  font-size: 0.5rem;
}
.navbar212 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.navbar212 img {
  height: 0.8rem;
  width: auto;
}
.navbar212 p {
  font-size: 0.5rem;
}
.navbar213 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: none;
}
.navbar213 img {
  height: 0.8rem;
  width: auto;
}
.navbar214 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: none;
}
.navbar214 img {
  height: 0.8rem;
  width: auto;
}

.navbar22 img {
  height: 1.5rem;
  width: auto;
}
.navbar23 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar23 img {
  height: 0.7rem;
  width: auto;
}
.navbar231 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.navbar232 {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
}
.navbar232 div {
  display: flex;
  flex-direction: row;
  height: 0.7rem;
  justify-content: center;
  align-items: end;
}
.navbar232 p {
  font-size: 0.5rem;
  text-align: end;
  line-height: 0%;
}
.navbar233 {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  display: none;
}
.navbar233 div {
  display: flex;
  flex-direction: row;
  height: 0.7rem;
  justify-content: center;
  align-items: end;
}
.navbar233 p {
  font-size: 0.5rem;
  text-align: end;
  line-height: 0%;
}

.navbar3 {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar31 {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar4 div {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.navbar41 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar411 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
  justify-content: start;
  max-width: 150px;
  max-height: 69vh;
}
.navbar411 p {
  font-size: 0.5rem;
}
.navbar411 h4 {
  font-size: 0.5rem;
}

.navbar4111 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 150px;
  max-height: 8rem;
  gap: 1rem;
}
.navbar4111-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: center;
  max-width: 150px;
  height: 3rem;
  background-color: rgb(234, 238, 241);
}
.navbar4111-block h4 {
  height: 1.3rem;
  background-color: #4d152d;
  width: 150px;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
}
.navbar4111-block div {
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  gap: 0.3rem;
  max-width: 150px;
  height: 1.3rem;
}
.navbar4111-block div img {
  width: 15px;
  height: auto;
}
.navbar4112 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 15px;
  gap: 0.5rem;
  gap: 1rem;
}
.navbar4112 p {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.navbar4112 p span {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
}
.navbar412 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  max-width: 600px;
  font-size: 0.5rem;
  text-align: start;
}
.navbar412-image {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 2%;
  max-width: 600px;
  max-height: 150px;
  height: auto;
}
.navbar412-card {
  width: 19%;
  max-height: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.6rem;
}
.navbar412-card p {
  width: 110px;
  text-align: center;
}
.navbar412-card img {
  width: 100%;
  height: auto;
}
.navbar413 {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 14%;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  overflow: hidden;
}
.navbar413 img {
  width: 90%;
  height: auto;
}
.navbar42 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: white;
}
.navbar4211 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 1.5rem;
  max-width: 150px;
  max-height: 17rem;
  gap: 1rem;
}
.navbar4211 h4 {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 0.5rem;
  background-color: #4d152d;
  color: #ffffff;
}
.navbar4211 h3 {
  font-size: 0.7rem;
}
.navbar4211 p {
  font-size: 0.65rem;
}
.navbar43 {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  gap: 6%;
  height: 80vh;
  max-width: 100vw;
  background-color: #ffffff;
}

.navbar432 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1%;
  max-width: 600px;
  font-size: 0.5rem;
  text-align: start;
}

.navbar433 {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  font-size: 0.6rem;
  gap: 0.7rem;
  color: #4d152d;
}
.navbar433 p {
  color: #4d152d;
  text-decoration: underline;
}

.navbar44 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar441 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  max-width: 150px;
  max-height: 69vh;
  padding-top: 1rem;
}
.navbar4411-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 150px;
  max-height: 2.5rem;
  text-align: center;
  background-color: rgb(234, 238, 241);
  margin-bottom: 1rem;
}
.navbar4411-block h4 {
  width: 100%;
  font-size: 0.6rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d152d;
  min-height: 1rem;
}
.navbar4411-block div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}
.navbar4411-block div img {
  width: 15px;
  height: auto;
}
.navbar4411-block2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  gap: 0.8rem;
}
.navbar4411-block2 h3 {
  font-size: 0.7rem;
}
.navbar4411-block21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  font-size: 0.6rem;
  max-height: 1.2rem;
  width: 100%;
}
.navbar4411-block21 img {
  width: 10px;
  height: auto;
}
.navbar442 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 60vh;
  max-width: 100px;
  font-size: 0.6rem;
  align-items: start;
  justify-content: start;
  text-align: start;
}
.navbar442 h3 {
  font-size: 0.7rem;
  width: 100px;
  text-align: start;
  padding-bottom: 0.5rem;
}
.navbar442 p span {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
}
.navbar442 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar443 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  max-width: 600px;
  font-size: 0.7rem;
  text-align: start;
}
.navbar443-image {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 2%;
  max-width: 600px;
  max-height: 150px;
  height: auto;
}
.navbar443-card {
  width: 19%;
  max-height: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.6rem;
}
.navbar443-card p {
  width: 100%;
  text-align: center;
}
.navbar443-card img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.navbar45 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar451 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: fit-content;
  gap: 1rem;
  max-width: 72%;
}
.navbar451 h3 {
  max-height: 1rem;
  font-size: 0.7rem;
}
.navbar451-image {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  max-height: fit-content;
}
.navbar451_card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 24%;
  max-height: fit-content;
  position: relative;
  color: #ffffff;
}
.navbar451_card img {
  width: 100%;
  height: auto;
}
.navbar451_card p {
  max-height: 1rem;
  width: 98%;
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
}
.navbar452 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 23%;
  max-height: fit-content;
  gap: 1rem;
}
.navbar452 h3 {
  font-size: 0.7rem;
  height: 1rem;
}
.navbar452-image {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  max-height: fit-content;
}
.navbar452_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  max-height: fit-content;
}
.navbar452_card img {
  width: 100%;
  height: auto;
}
.navbar452_card p {
  max-height: 1rem;
  width: 100%;
  text-align: center;
}

.navbar46 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar461 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: fit-content;
  gap: 1rem;
  max-width: 100%;
}
.navbar462 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 20%;
  max-height: fit-content;
  gap: 1rem;
}
.navbar462-image {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-height: fit-content;
}
.navbar462_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: fit-content;
  padding-bottom: 1rem;
  position: relative;
}
.navbar462_card img {
  width: 100%;
  height: auto;
}
.navbar462_card p {
  max-height: 1rem;
  width: 100%;
  text-align: center;
}
.navbar47 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar471 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: fit-content;
  gap: 1rem;
  max-width: 100%;
}
.navbar48 {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  height: 80vh;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
}
.navbar481 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: fit-content;
  gap: 1rem;
  max-width: 100%;
}
.navbar48_card {
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar48_card h2 {
  font-size: 2rem;
}
.navbar48-img1 {
  max-width: 25%;
  height: auto;
}

.navbar48-img2 {
  max-width: 80%;
  height: auto;
}
.navbar48-img1 img {
  width: 100%;
  height: auto;
}

.navbar48-img2 img {
  width: 100%;
  height: auto;
}
.navbar48_card h3 {
  font-size: 0.7rem;
}

.hide {
  display: none;
}

/* Show on hover */
.show {
  display: flex;
}

@media screen and (max-width: 800px) {
  .navbar11 {
    display: none;
  }
  .navbar13 {
    display: none;
  }
  .navbar12 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .navbar1-b {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 0.7rem;
  }
  .navbar12 span {
    text-decoration: underline;
  }
  .navbar211 {
    display: none;
  }
  .navbar212 {
    display: none;
  }
  .navbar213 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .navbar213 img {
    width: 20px;
    height: auto;
  }
  .navbar214 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .navbar214 img {
    width: 20px;
    height: auto;
  }
  .navbar231 {
    display: none;
  }
  .navbar232 {
    display: none;
  }
  .navbar233 {
    display: flex;
  }
  .navbar233 img {
    width: 20px;
    height: auto;
  }
  .navbar2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding: 1rem;
    overflow: hidden;
  }
  .navbar3 {
    display: none;
  }
}
