* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  max-width: 100vw;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");
.rv-container {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rv-image {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rv-img-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2/1;
}
.rv-img-grid div {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.rv-img-grid div img {
  width: 100%;
  height: auto;
}
.rv-hide-image {
  display: none;
}
.rv-content {
  background-color: #ffffff;
  width: 350px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #333333;
  position: absolute;
}
.rv-content p {
  width: 90%;
  font-size: 0.7rem;
  font-weight: lighter;
  text-align: center;
}
.rv1 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  height: 60px;
}
.y25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  max-width: 60px;
  height: 60px;
}
.y25 img {
  width: 70px;
  height: auto;
}
.y25 p {
  width: 30px;
  color: #886700;
  font-size: 0.4rem;
  bottom: 15px;
  position: absolute;
}
.sec-2500 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.sec-2500 h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.sec-2500 div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sec-2500 div img {
  height: 20px;
  width: 70px;
}
.sec-2500 div h5 {
  font-size: 0.7rem;
}
.rv-see-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rv-see-all div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  margin-left: -20px;
  overflow: hidden;
}
.rv-see-all div img {
  height: 40px;
  width: auto;
}
.see-all {
  height: 40px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #4d152d;
  height: 1rem;
  border-radius: 10px;
  padding: 1rem 1rem;
}
.see-all h5 {
  font-size: 0.6rem;

  color: #ffffff;
}
.see-all p {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}
.see-all p {
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}
.rv-hide25 {
  display: none;
}
.rv-brand {
  width: 85%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rv-brand img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .rv-container {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
  }
  .rv-content {
    background-color: #ffffff;
    width: 350px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #333333;
    position: absolute;
    bottom: 50px;
  }
  .rv-img-grid {
    display: none;
  }
  .rv-hide-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }
  .rv-hide-image img {
    width: 100%;
    height: auto;
  }
  .y25 {
    display: none;
  }
  .rv-hide25 {
    display: flex;
  }
  .sec-2500 {
    flex-direction: row;
    gap: 1rem;
  }
  .sec-2500 div {
    flex-direction: column;
    gap: 0rem;
  }
}
